@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: alot;
  src: url("./fonts/alot3.ttf"); }
@font-face {
  font-family: fuzzy;
  src: url("./fonts/fuzzy2.ttf"); }
@font-face {
  font-family: fuzzyH;
  src: url("./fonts/fuzzy1.ttf"); }
@keyframes fadeInOut {
  from {
    opacity: 0.5; }
  to {
    opacity: 0.75; } }
@keyframes breath {
  from {
    filter: invert(1) drop-shadow(4px 0px 0px red) drop-shadow(-4px 0px 0px cyan); }
  to {
    filter: invert(1) drop-shadow(8px 0px 0px red) drop-shadow(-8px 0px 0px cyan); } }
*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

#topBox {
  background-color: black;
  padding: 2em 0;
  width: 100%; }
  #topBox #topWrap {
    width: fit-content;
    margin: 0 auto; }

html {
  scroll-behavior: smooth;
  background-color: black; }

body {
  color: white;
  font-family: "Roboto", sans-serif; }
  body h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    background-color: black;
    padding: 0 0.5em;
    text-align: center;
    font-family: alot;
    text-transform: uppercase; }
    body h1 span {
      filter: drop-shadow(2px 0px 0px red) drop-shadow(-2px 0px 0px cyan);
      padding-top: 0.15em;
      display: block; }
  body .section {
    padding: 1em;
    position: relative; }
    body .section .sectionWrap {
      max-width: 1000px;
      margin: 0 auto;
      z-index: 2;
      position: inherit; }
      body .section .sectionWrap h4 {
        text-align: center;
        text-transform: uppercase; }
      body .section .sectionWrap img {
        max-width: 75%;
        display: block;
        margin: 0 auto; }
      body .section .sectionWrap p {
        background-color: rgba(0, 0, 0, 0.8);
        padding: 1em; }
      body .section .sectionWrap #fadeImg {
        max-width: 1000px;
        width: 100%;
        position: relative; }
        body .section .sectionWrap #fadeImg img {
          width: 100%;
          height: auto;
          max-width: 100%;
          mix-blend-mode: darken; }
        body .section .sectionWrap #fadeImg .topImg {
          position: absolute;
          top: 0;
          z-index: 255;
          animation: fadeInOut 3s infinite alternate;
          animation-timing-function: ease-in-out;
          mix-blend-mode: lighten; }
    body .section .darken {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: black;
      opacity: 0.5;
      pointer-events: none;
      z-index: 1; }
  body #webPlayer {
    top: 0;
    width: 100%;
    z-index: 500;
    font-size: 1.25em; }
    body #webPlayer #wave {
      height: 1em;
      display: inline-block;
      width: calc(100% - 2.5em); }
    body #webPlayer #playerWrap {
      max-width: 1000px;
      margin: 0 auto;
      display: flex;
      justify-content: center; }
    body #webPlayer svg {
      display: inline-block;
      cursor: pointer; }
    body #webPlayer #songTitle {
      display: inline-block; }
  body #splash {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./img/bg1.gif");
    background-position: center;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges; }
    body #splash img {
      filter: invert(1) drop-shadow(4px 0px 0px red) drop-shadow(-4px 0px 0px cyan);
      width: 500px;
      height: auto; }
      @media (max-width: 500px) {
        body #splash img {
          width: 90%; } }
    body #splash #rabbit_holder {
      width: 100%;
      position: absolute;
      bottom: 0; }
      body #splash #rabbit_holder img {
        height: initial;
        width: initial;
        filter: none; }
    body #splash #socMedia {
      margin-top: 1em;
      font-size: 3em;
      width: 400px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      z-index: 50; }
      @media (max-width: 500px) {
        body #splash #socMedia {
          width: 90%;
          font-size: 2.5em; } }
      body #splash #socMedia svg {
        color: white;
        filter: drop-shadow(2px 0px 0px red) drop-shadow(-2px 0px 0px cyan);
        -webkit-transition: -webkit-filter 0.25s linear; }
        body #splash #socMedia svg:hover {
          filter: drop-shadow(-4px 0px 0px red) drop-shadow(4px 0px 0px cyan); }
  body #calendar iframe {
    margin: 0 auto;
    display: block;
    border: 0; }
  body footer {
    width: 100%;
    color: white;
    background-color: black;
    position: relative; }
    body footer #copyright {
      position: absolute;
      bottom: 1em;
      margin: 0 auto;
      left: 0;
      text-align: center;
      right: 0; }
  body nav {
    font-family: fuzzy;
    font-size: 1.5em;
    color: white; }
    body nav a {
      color: white;
      text-decoration: none; }
      body nav a:hover {
        font-family: fuzzyH; }
    body nav #secret {
      font-family: fuzzyH;
      position: absolute !important;
      top: -9999px !important;
      left: -9999px !important; }

#blog {
  background-image: url("./img/1.gif");
  background-position: center;
  background-size: cover;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges; }

#albums {
  background-image: url("./img/ripple.gif");
  background-position: center;
  background-size: cover;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges; }

#aboutUs {
  background-image: url("./img/pinkgems.gif");
  background-position: center;
  background-size: cover;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges; }
  #aboutUs p {
    display: block;
    margin-bottom: 1em; }

#calendar {
  background-image: url("./img/stars.gif");
  background-position: center;
  background-size: cover;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges; }

#merch {
  background-image: url("./img/redbluerain.gif");
  background-position: center;
  background-size: cover;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges; }

#gcf-design {
  width: 100%;
  border-radius: 0;
  color: white; }
  #gcf-design a {
    color: white; }
  #gcf-design #gcf-header-block {
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  #gcf-design .gcf-last-update-block {
    display: none; }
  #gcf-design .gcf-item-date-block {
    border-right: 1px solid white;
    display: inline-block;
    font-weight: 600;
    padding: 0.5em 0.5em 0.5em 0; }
  #gcf-design .gcf-item-title-block {
    display: inline-block; }
  #gcf-design .gcf-item-block {
    border-top: 1px solid white;
    border-bottom: 1px solid white; }
  #gcf-design .gcf-title-block {
    margin-top: 1em; }

#albumsHere {
  width: 228px;
  display: inline-block; }
  #albumsHere h1 {
    margin-bottom: 0;
    filter: drop-shadow(2px 0px 0px red) drop-shadow(-2px 0px 0px cyan);
    margin: 0;
    padding: 0;
    margin-left: 1.25em; }
  #albumsHere .albumBox {
    position: relative; }
    #albumsHere .albumBox:last-of-type .infoBox {
      padding: 0 0 0 1em; }
    #albumsHere .albumBox .yearBox {
      height: 150px;
      position: absolute;
      top: 0;
      align-items: center;
      display: flex; }
    #albumsHere .albumBox .infoBox {
      display: inline-flex;
      border-left: 2px solid white;
      padding: 0 0 1em 1em;
      margin-left: 2.75em; }
      #albumsHere .albumBox .infoBox img {
        display: inline-block;
        height: 130px;
        max-width: initial;
        width: auto;
        margin: 10px;
        transition: height 0.5s, width 0.5s, margin 0.5s;
        cursor: pointer; }
        #albumsHere .albumBox .infoBox img:hover {
          margin: 0;
          height: 150px; }

#infoHere {
  display: inline-block;
  width: calc(100% - 228px);
  position: absolute; }
  #infoHere img {
    max-width: 100%;
    height: 400px; }
  #infoHere h1 {
    margin-bottom: 0;
    margin-top: 0.25em;
    filter: drop-shadow(2px 0px 0px red) drop-shadow(-2px 0px 0px cyan); }
  #infoHere #socLinks {
    text-align: center;
    color: white;
    font-size: 2em; }
    #infoHere #socLinks svg {
      color: white;
      filter: drop-shadow(2px 0px 0px red) drop-shadow(-2px 0px 0px cyan);
      -webkit-transition: -webkit-filter 0.25s linear; }
      #infoHere #socLinks svg:hover {
        filter: drop-shadow(-4px 0px 0px red) drop-shadow(4px 0px 0px cyan); }
    #infoHere #socLinks a {
      color: white;
      margin: 0 0.25em; }
    #infoHere #socLinks a:visited {
      color: white; }

#bottomInfo, #trackListing, #credits {
  width: calc(50% - 2em - 2px);
  margin: 1em 1em;
  display: inline-block;
  vertical-align: top; }

#overflows, #leftOverflow, #rightOverflow {
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 200;
  width: calc((100vw - 1000px - 2em)/2); }
  #overflows img, #leftOverflow img, #rightOverflow img {
    width: 125px;
    position: absolute;
    animation: hologram 10s; }

#leftOverflow {
  left: 0; }

#rightOverflow {
  right: 0; }

@keyframes hologram {
  0% {
    opacity: 0; }
  10% {
    opacity: 0.7; }
  50% {
    opacity: 0.5; }
  90% {
    opacity: 0.7; }
  100% {
    opacity: 0; } }

/*# sourceMappingURL=style.css.map */
