@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

@font-face
    font-family: alot
    src: url('./fonts/alot3.ttf')
@font-face
    font-family: fuzzy
    src: url('./fonts/fuzzy2.ttf')
@font-face
    font-family: fuzzyH
    src: url('./fonts/fuzzy1.ttf')

@keyframes fadeInOut
    from
        opacity: .5
    to
        opacity: .75
@keyframes breath
    from
        filter: invert(1) drop-shadow(4px 0px 0px red) drop-shadow(-4px 0px 0px cyan)
    to
        filter: invert(1) drop-shadow(8px 0px 0px red) drop-shadow(-8px 0px 0px cyan)

*, *:before, *:after
    box-sizing: border-box

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    text-size-adjust: none

footer, header, nav, section, main
    display: block

body
    line-height: 1

ol, ul
    list-style: none

blockquote, q
    quotes: none

blockquote:before, blockquote:after, q:before, q:after
    content: ''
    content: none

table
    border-collapse: collapse
    border-spacing: 0

input
    -webkit-appearance: none
    border-radius: 0

@mixin mobile
    @media (max-width: 500px)
        @content

$siteWidth: 1000px

#topBox
    background-color: black
    padding: 2em 0
    width: 100%
    #topWrap
        width: fit-content
        margin: 0 auto
html
    scroll-behavior: smooth
    background-color: black
body
    color: white
    font-family: 'Roboto', sans-serif
    h1
        font-size: 2.5em
        margin-bottom: .5em
        //font-weight: 800
        background-color: black
        padding: 0 .5em
        text-align: center
        font-family: alot
        text-transform: uppercase
        span
            filter: drop-shadow(2px 0px 0px red) drop-shadow(-2px 0px 0px cyan)
            padding-top: .15em
            display: block
    .section
        padding: 1em
        position: relative
        .sectionWrap
            max-width: $siteWidth
            margin: 0 auto
            z-index: 2
            position: inherit
            h4
                text-align: center
                text-transform: uppercase
            img
                max-width: 75%
                display: block
                margin: 0 auto
            p
                background-color: rgba(0,0,0,.8)
                padding: 1em
            #fadeImg
                max-width: 1000px
                width: 100%
                position: relative
                img
                    width: 100%
                    height: auto
                    max-width: 100%
                    mix-blend-mode: darken
                .topImg
                    position: absolute
                    top: 0
                    z-index: 255
                    animation: fadeInOut 3s infinite alternate
                    animation-timing-function: ease-in-out
                    mix-blend-mode: lighten
        .darken
            width: 100%
            height: 100%
            position: absolute
            top: 0
            left: 0
            background-color: black
            opacity: .5
            pointer-events: none
            z-index: 1
    #webPlayer
        top: 0
        width: 100%
        z-index: 500
        font-size: 1.25em
        #wave
            height: 1em
            display: inline-block
            width: calc(100% - 2.5em)
        #playerWrap
            max-width: $siteWidth
            margin: 0 auto
            display: flex
            justify-content: center
        svg
            display: inline-block
            cursor: pointer
        #songTitle
            display: inline-block
    #splash
        background-color: black
        height: 100vh
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        background-image: url('./img/bg1.gif')
        background-position: center
        background-size: cover
        image-rendering: pixelated
        image-rendering: -moz-crisp-edges
        image-rendering: crisp-edges
        img
            filter: invert(1) drop-shadow(4px 0px 0px red) drop-shadow(-4px 0px 0px cyan)
            //animation: breath 2s infinite alternate linear
            width: 500px
            height: auto
            @include mobile
                width: 90%
        #rabbit_holder
            width: 100%
            position: absolute
            bottom: 0
            img
                height: initial
                width: initial
                filter: none
        #socMedia
            margin-top: 1em
            font-size: 3em
            width: 400px
            display: flex
            justify-content: space-between
            flex-wrap: wrap
            z-index: 50
            @include mobile
                width: 90%
                font-size: 2.5em
            svg
                color: white
                filter: drop-shadow(2px 0px 0px red) drop-shadow(-2px 0px 0px cyan)
                -webkit-transition : -webkit-filter .25s linear
                &:hover
                    filter: drop-shadow(-4px 0px 0px red) drop-shadow(4px 0px 0px cyan)
    #calendar
        iframe
            margin: 0 auto
            display: block
            border: 0
    footer
        width: 100%
        color: white
        background-color: black
        position: relative
        #copyright
            position: absolute
            bottom: 1em
            margin: 0 auto
            left: 0
            text-align: center
            right: 0
    nav
        font-family: fuzzy
        font-size: 1.5em
        color: white
        a
            color: white
            text-decoration: none
            &:hover
                font-family: fuzzyH
        background-color: black
        padding: 0em .25em 0em 0em
        left: 0
        right: 0
        margin: 0 auto
        z-index: 5000
        #secret
            font-family: fuzzyH
            position: absolute !important
            top: -9999px !important
            left: -9999px !important
#blog
    background-image: url('./img/1.gif')
    background-position: center
    background-size: cover
    image-rendering: pixelated
    image-rendering: -moz-crisp-edges
    image-rendering: crisp-edges
    // h1
    //     font-family: error
#albums
    background-image: url('./img/ripple.gif')
    background-position: center
    background-size: cover
    image-rendering: pixelated
    image-rendering: -moz-crisp-edges
    image-rendering: crisp-edges
#aboutUs
    background-image: url('./img/pinkgems.gif')
    background-position: center
    background-size: cover
    image-rendering: pixelated
    image-rendering: -moz-crisp-edges
    image-rendering: crisp-edges
    p
        display: block
        margin-bottom: 1em
    // h1
    //     font-family: finity
    //     text-transform: uppercase
#calendar
    background-image: url('./img/stars.gif')
    background-position: center
    background-size: cover
    image-rendering: pixelated
    image-rendering: -moz-crisp-edges
    image-rendering: crisp-edges
    // h1
    //     font-family: oki
#merch
    background-image: url('./img/redbluerain.gif')
    background-position: center
    background-size: cover
    image-rendering: pixelated
    image-rendering: -moz-crisp-edges
    image-rendering: crisp-edges
    // h1
    //     font-family: pop
#gcf-design
    width: 100%
    border-radius: 0
    color: white
    a
        color: white
    #gcf-header-block
        border-top-left-radius: 0
        border-top-right-radius: 0
    .gcf-last-update-block
        display: none
    .gcf-item-date-block
        border-right: 1px solid white
        display: inline-block
        font-weight: 600
        padding: .5em .5em .5em 0
    .gcf-item-title-block
        display: inline-block
    .gcf-item-block
        border-top: 1px solid white
        border-bottom: 1px solid white
    .gcf-title-block
        margin-top: 1em

$boxHeight: 150px

#albumsHere
    width: 228px
    display: inline-block
    .albumBox
        position: relative        
        &:last-of-type
            .infoBox
                padding: 0 0 0 1em
        .yearBox
            height: $boxHeight
            position: absolute
            top: 0
            align-items: center
            display: flex
        .infoBox
            display: inline-flex
            border-left: 2px solid white
            padding: 0 0 1em 1em
            margin-left: 2.75em
            img
                display: inline-block
                height: $boxHeight - 20px
                max-width: initial
                width: auto
                margin: 10px
                transition: height .5s, width .5s, margin .5s
                cursor: pointer
                &:hover
                    margin: 0
                    height: $boxHeight
#infoHere
    display: inline-block
    width: calc(100% - 228px)
    position: absolute