@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: alot;
  src: url("fonts/alot3.ttf"); }
@font-face {
  font-family: fuzzy;
  src: url("fonts/fuzzy2.ttf"); }
@font-face {
  font-family: fuzzyH;
  src: url("fonts/fuzzy1.ttf"); }
*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

#topBox {
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 200;
  border-bottom: 2px solid white;
  box-shadow: 0 0 40px 0 #000;
  width: 100%; }
  #topBox #topWrap {
    width: fit-content; }

html {
  scroll-behavior: smooth;
  background-color: black; }

body {
  color: white;
  font-family: "Roboto", sans-serif; }
  body h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    background-color: black;
    padding: 0 0.5em;
    text-align: center;
    font-family: alot;
    text-transform: uppercase; }
    body h1 span {
      filter: drop-shadow(2px 0px 0px red) drop-shadow(-2px 0px 0px cyan);
      padding-top: 0.15em;
      display: block; }
  body .section {
    padding: 1em;
    position: relative; }
    body .section .sectionWrap {
      max-width: 1000px;
      margin: 0 auto;
      z-index: 2;
      position: inherit; }
      body .section .sectionWrap img {
        max-width: 75%;
        display: block;
        margin: 0 auto; }
      body .section .sectionWrap p {
        background-color: rgba(0, 0, 0, 0.8);
        padding: 1em; }
    body .section .darken {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: black;
      opacity: 0.5;
      pointer-events: none;
      z-index: 1; }
  body #webPlayer {
    margin-top: 0.5em;
    top: 0;
    width: 101%;
    z-index: 500;
    font-size: 1.25em; }
    body #webPlayer #wave {
      height: 1em;
      display: inline-block;
      width: calc(100% - 2.5em); }
    body #webPlayer #playerWrap {
      max-width: 1000px;
      margin: 0 auto;
      display: flex;
      justify-content: center; }
    body #webPlayer svg {
      display: inline-block;
      cursor: pointer; }
    body #webPlayer #songTitle {
      display: inline-block; }
  body #splash {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("img/bg1.gif");
    background-position: center;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges; }
    body #splash img {
      filter: invert(1) drop-shadow(4px 0px 0px red) drop-shadow(-4px 0px 0px cyan);
      width: 500px;
      height: auto;
      transition: width 1s height 1s; }
      @media (max-width: 500px) {
        body #splash img {
          width: 90%; } }
    body #splash #rabbit_holder {
      width: 100%;
      position: absolute;
      bottom: 0; }
      body #splash #rabbit_holder img {
        height: initial;
        width: initial;
        filter: none; }
    body #splash #socMedia {
      margin-top: 1em;
      font-size: 3em;
      width: 400px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      z-index: 50; }
      @media (max-width: 500px) {
        body #splash #socMedia {
          width: 90%;
          font-size: 2.5em; } }
      body #splash #socMedia svg {
        color: white;
        filter: drop-shadow(2px 0px 0px red) drop-shadow(-2px 0px 0px cyan);
        -webkit-transition: -webkit-filter 0.25s linear; }
        body #splash #socMedia svg:hover {
          filter: drop-shadow(-4px 0px 0px red) drop-shadow(4px 0px 0px cyan); }
  body #calendar iframe {
    margin: 0 auto;
    display: block;
    border: 0; }
  body footer {
    width: 100%;
    color: white;
    background-color: black; }
  body nav {
    font-family: fuzzy;
    font-size: 1.5em;
    color: white;
    background-color: black;
    padding: 0em 0em;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 5000; }
    body nav a {
      color: white;
      text-decoration: none; }
      body nav a:hover {
        font-family: fuzzyH; }

#blog {
  background-image: url("img/1.gif");
  background-position: center;
  background-size: cover;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges; }

#albums {
  background-image: url("img/ripple.gif");
  background-position: center;
  background-size: cover;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges; }

#aboutUs {
  background-image: url("img/pinkgems.gif");
  background-position: center;
  background-size: cover;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges; }

#calendar {
  background-image: url("img/stars.gif");
  background-position: center;
  background-size: cover;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges; }

#merch {
  background-image: url("img/redbluerain.gif");
  background-position: center;
  background-size: cover;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges; }

/*# sourceMappingURL=style.css.map */
